**.pyc
build/*
dist/*
musclex.egg*
musclex/tests/dc/*
musclex/tests/di/*
musclex/tests/eq/*
musclex/tests/pt/*
musclex/tests/qf/*
musclex/tests/test_guide/
/venv/
.idea/
/venv/
/temp_files/
/docs/_build/

# Pycharm
.idea/

.DS_Store

