altgraph==0.16.1
appdirs==1.4.3
asteval==0.9.12
backports.functools-lru-cache==1.5
Beaker==1.9.1
cloudpickle==0.5.3
configparser==3.5.0
cycler==0.10.0
Cython==0.29.7
dask==0.18.1
decorator==4.3.0
dis3==0.1.2
enum34==1.1.6
et-xmlfile==1.0.1
fabio==0.7.0
fisx==1.1.5
funcsigs==1.0.2
future==0.16.0
futures==3.2.0
h5py==2.8.0
jdcal==1.4
kiwisolver==1.0.1
lmfit==0.9.11
macholib==1.11
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.2
# Editable install with no version control (musclex==1.13.4)
-e /opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages
musclex-ccp13==1.1
networkx==2.1
nose==1.3.7
numexpr==2.6.5
numpy==1.14.5
opencv-python==3.3.0.9
openpyxl==2.5.4
pandas==0.24.2
PeakUtils==1.1.1
pefile==2017.11.5
#Pillow==5.2.0
Pillow==6.2.2 # updated to resolve security concern
pybind11==2.2.4
pyFAI==0.15.0
#PyInstaller==3.4
PyInstaller==3.6 # changed to resolve security alert
PyMca5==5.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytools==2019.1.1
pytz==2018.5
PyWavelets==0.5.2
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
silx==0.8.0
six==1.11.0
subprocess32==3.5.2
tifffile==0.14.0
toolz==0.9.0
uncertainties==3.0.2
virtualenv==16.6.1
