[Desktop Entry]
Version=1.0
Name=MuscleX
GenericName=MuscleX
Exec=/usr/bin/musclex/musclex-launcher
Terminal=false
Type=Application
Icon=/usr/share/icons/AppIcon.icns
Encoding=UTF-8
Categories=Science;Biology;Physics

