[Desktop Entry]
Version=1.0
Name=MuscleX
GenericName=MuscleX
Exec=/usr/bin/musclex gui
Terminal=false
Type=Application
Icon=/usr/share/icons/AppIconMusclex.icns
Encoding=UTF-8
Categories=Science;Biology;Physics

